<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/"><channel><title>michael-mccracken.net (plugin)</title><link>http://michael-mccracken.net/</link><description></description><language>en</language><lastBuildDate>Fri, 27 Jun 2014 10:00:50 GMT</lastBuildDate><generator>http://getnikola.com/</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>An update on the incremental-search plug...</title><link>http://michael-mccracken.net/2009/09/an-update-on-the-incremental-search-plug.html</link><dc:creator>Michael McCracken</dc:creator><description>&lt;p&gt;An update on the incremental-search plugin for NSTextViews that continues to be a big draw to this site - I don't currently use it on 10.5, since it's an input manager plugin, but I do miss it.&lt;/p&gt;
&lt;p&gt;The most recent source that I know of is on &lt;a href="http://leverage.sf.net/"&gt;leverage.sf.net&lt;/a&gt; which is a repository for text-system hacks I used to work on. If anyone wants to pick it up and modernize it, I'd be grateful.&lt;/p&gt;
&lt;p&gt;In particular, you want &lt;a href="http://leverage.svn.sourceforge.net/viewvc/leverage/isim/"&gt;the 'isim' directory&lt;/a&gt;. The other directories are unrelated, but if you find them interesting, I'd love to hear from you.&lt;/p&gt;
&lt;p&gt;If you just want to download the last working universal binary build (from 2007), it is here: &lt;a href="http://michael-mccracken.net/IncrementalSearchInputManager-universal.zip"&gt;IncrementalSearchInputManager-universal.zip&lt;/a&gt;. Let me know how it works?&lt;/p&gt;</description><category>NSTextView</category><category>i-search</category><category>incremental-search</category><category>plugin</category><guid>http://michael-mccracken.net/2009/09/an-update-on-the-incremental-search-plug.html</guid><pubDate>Tue, 15 Sep 2009 20:05:00 GMT</pubDate></item></channel></rss>